{% extends "base.html" %}

{% block content %}
<section class="card">
    <h1>About</h1>
    <p>This a simple note taking app built with Flask. It allows users to create, edit, and delete notes. The app is designed to be simple and easy to use, making it a great tool for students and professionals alike.</p>

    <p>it have following features:</p>
    <ul>
        <li>Flask app</li>
        <li>3 routes</li>
        <li>STyle pages</li>
        <li>SQlite note storage</li>

    </ul>
</section>
{% endblock %}
